<div th:fragments="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">Создано для практики</small>
                <small class="d-block mb-3 text-muted">Студентом РГУПСа</small>
                <small class="d-block mb-3 text-muted">Нарышкиным Р.А.</small>
                <small class="d-block mb-3 text-muted">Группы АВБ-3-032</small>
            </div>
        </div>
    </footer>
</div>