<div th:fragments="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/img/brand/bootstrap-solid.svg" alt="логотип bootstrap" width="24" height="24">
                <small class="d-block mb-3 text-muted">© 2017-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Особенности</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Прикольная штука</a></li>
                    <li><a class="link-secondary" href="#">Случайная особенность</a></li>
                    <li><a class="link-secondary" href="#">Особенность команды</a></li>
                    <li><a class="link-secondary" href="#">Материал для разработчиков</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Ресурсы</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Ресурс</a></li>
                    <li><a class="link-secondary" href="#">Название ресурса</a></li>
                    <li><a class="link-secondary" href="#">Другой ресурс</a></li>
                    <li><a class="link-secondary" href="#">Заключительный ресурс</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Команда</a></li>
                    <li><a class="link-secondary" href="#">Местоположение</a></li>
                    <li><a class="link-secondary" href="#">Конфиденциальность</a></li>
                    <li><a class="link-secondary" href="#">Сроки</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>