<div th:fragment = "header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Здоровье</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" th:href="@{/index}">Главная</a>
            <a class="p-2 text-dark" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Администрирование</a>
            <a class="p-2 text-dark" sec:authorize="isAuthenticated()" th:href="@{/user}">Мой профиль</a>
            <a class="p-2 text-dark" sec:authorize="isAuthenticated()" th:href="@{/resources}">Записаться</a>
            <a class="p-2 text-dark" th:href="@{/doctors}">Доктора</a>
            <a class="p-2 text-dark" href="#">Поддержка</a>
            <a class="p-2 text-dark" href="/about">О сайте</a>
            <a class="btn btn-outline-primary" role="button" sec:authorize="isAuthenticated()" th:href="@{/login}">Выйти</a>
            <a class="btn btn-outline-primary" role="button" sec:authorize="!isAuthenticated()" th:href="@{/login}">Войти</a>
        </nav>
    </div>
</div>