<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome, to index</h1>
    <ol>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/admin}">Admin</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/user}">User</a></li>
        <li><a th:href="@{/doctors}">Doctors</a></li>
        <li><a th:href="@{/login}">Logout</a></li>
    </ol>
</body>
</html>